<% if logged_in?(:site_admin) %>
  <div class="breadcrumb">
    <span class="breadcrumb-item"><%= link_to 'New Blog', new_blog_path %></span>

    <% if blog.present? %>
      <span class="breadcrumb-item"><%= link_to blog.status, toggle_status_blog_path(blog) %></span>
      <span class="breadcrumb-item"><%= link_to 'Edit Blog', edit_blog_path(blog) %></span>
      <span class="breadcrumb-item"><%= link_to 'Delete', blog, method: :delete, data: {confirm: 'Are you sure you want to delete this post?'} %></span>
    <% end %>
  </div>
<% end %>