<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title, blog %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago - <%= link_to blog.topic.title, topic_path(blog.topic) if blog.topic.present? %></p>

  <%= markdown blog.body[0,200] %>
</div>